<div class="container mt-5">
    <!-- Mi Perfil -->
    <h2 class="text-center mb-4">Mi Perfil</h2>
  
    <div *ngFor="let turno of nombresEspecialistasArray">
      <ng-container *ngIf="turno.email == pacienteActual">
        <div class="text-center">
          <img
            src="{{ turno.imagen }}"
            class="img-thumbnail"
            style="width: 200px; height: 200px; object-fit: cover;" />
        </div>
  
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Información Personal</h5>
                <ul class="list-group">
                  <li class="list-group-item">
                    <strong>Nombre:</strong> {{turno.nombre}}
                  </li>
                  <li class="list-group-item">
                    <strong>Apellido:</strong> {{turno.apellido}}
                  </li>
                  <li class="list-group-item">
                    <strong>Edad:</strong> {{turno.edad}}
                  </li>
                  <li class="list-group-item">
                    <strong>DNI:</strong> {{turno.dni}}
                  </li>
                </ul>
  
                <div class="text-center mt-4">
                  <button class="btn btn-primary" (click)="ddescargarHistoriaClinica()">Descargar PDF Usuarios</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  
  