<div class="container text-center mt-5">
  <h1 class="mb-4 text-primary">Mis turnos</h1>

  <!-- Campo de búsqueda -->
  <input
    type="text"
    placeholder="Buscar turnos o historia clínica..."
    [(ngModel)]="searchText"
    class="form-control mb-3"
  />

  <!-- Lista de Turnos Filtrados -->
  <div *ngFor="let turno of nombresEspecialistasArray | filter: searchText">
    <ul class="list-group mt-4" *ngIf="turno.emailEspecialsita == doctorActual">
      
      <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <!-- Información del turno -->
          <div>
            <h4 class="text-primary mb-1">{{ turno.especialidad }}</h4>
            <p class="mb-1">
              <strong>{{ turno.nombrePaciente }}</strong> - {{ turno.horario }} - {{ turno.dia }}
            </p>
            <h2>Estado:</h2>
            <h2 [ngClass]="turno.estado">{{ turno.estado }}</h2>
          </div>

          <!-- Botones según el estado del turno -->
          <div *ngIf="turno.estado === 'pendiente'">
            <button class="btn btn-outline-success btn-sm me-2" (click)="cambiarEstado('Aceptado', turno)">
              <i class="bi bi-check-circle"></i> Aceptar
            </button>
            <button class="btn btn-outline-danger btn-sm me-2" (click)="cambiarEstado('Rechazado', turno)">
              <i class="bi bi-x-circle"></i> Rechazar
            </button>

            <button class="btn btn-outline-danger btn-sm me-2" (click)="cambiarEstado('Rechazado', turno)">
              <i class="bi bi-x-circle"></i> Cancelar
            </button>

          </div>

          <div *ngIf="turno.estado === 'Aceptado'">
            <button class="btn btn-outline-success btn-sm me-2" (click)="cambiarEstado('finalizar', turno)">
              <i class="bi bi-check-circle"></i> Finalizar Turno
            </button>
          </div>

          <button *ngIf="turno.estado === 'finalizar'" class="btn btn-primary btn-sm" (click)="mostrarFormularioDiagnostico(turno)">
            Diagnóstico
          </button>

          <button *ngIf="turno.estado === 'diagnosticado'" class="btn btn-primary btn-sm" (click)="mostrarFormularioHistoriaClinica(turno)">
            Historia Clínica
          </button>

          <button *ngIf="turno.estado === 'historiaClinica'" class="btn btn-primary btn-sm" (click)="verDiagnosticoTerminado(turno)">
            Ver Reseña
          </button>

          <button *ngIf="turno.estado === 'FINALIZADO' && turno.comentarioPaciente !='' " class="btn btn-primary btn-sm" (click)="verComentarioPaciente(turno)">
            Ver Comentario
          </button>

        </div>

        <!-- Formulario de Diagnóstico -->
        <div *ngIf="turno.verComentarioPaciente && turno.estado != 'historiaClinica'" class="mt-3 p-3 bg-light border rounded">
          <h5 class="text-secondary">Ingresar Diagnóstico</h5>
          <div class="mb-3">
            <label for="diagnosticoInput" class="form-label">Comentario:</label>
            <input type="text" id="diagnosticoInput" [(ngModel)]="turno.comentarioPaciente" class="form-control" placeholder="Escribe el diagnóstico aquí" />
          </div>
          <button class="btn btn-secondary btn-sm ms-2" (click)="ocultarverComentarioPaciente(turno)">Cancelar</button>
        </div>

        <!-- Formulario de Diagnóstico -->
        <div *ngIf="turno.mostrarFormularioDiagnostico && turno.estado != 'historiaClinica'" class="mt-3 p-3 bg-light border rounded">
          <h5 class="text-secondary">Ingresar Diagnóstico</h5>
          <div class="mb-3">
            <label for="diagnosticoInput" class="form-label">Diagnóstico:</label>
            <input type="text" id="diagnosticoInput" [(ngModel)]="turno.diagnostico" class="form-control" placeholder="Escribe el diagnóstico aquí" />
          </div>
          <div class="mb-3">
            <label for="comentariosInput" class="form-label">Comentarios:</label>
            <textarea id="comentariosInput" [(ngModel)]="turno.comentario" class="form-control" placeholder="Escribe tus comentarios aquí"></textarea>
          </div>
          <button  class="btn btn-success btn-sm" (click)="guardarDiagnostico(turno, turno.paciente)">Guardar Diagnóstico</button>
          <button class="btn btn-secondary btn-sm ms-2" (click)="ocultarFormularioDiagnostico(turno)">Cancelar</button>
        </div>

        <!-- Formulario de Diagnóstico -->
        <div *ngIf="turno.mostrarFormularioDiagnostico && turno.estado == 'historiaClinica'" class="mt-3 p-3 bg-light border rounded">
          <h5 class="text-secondary">Ingresar Diagnóstico</h5>
          <div class="mb-3">
            <label for="diagnosticoInput" class="form-label">Diagnóstico:</label>
            <input disabled type="text" id="diagnosticoInput" [(ngModel)]="turno.diagnostico" class="form-control" placeholder="Escribe el diagnóstico aquí" />
          </div>
          <div class="mb-3">
            <label for="comentariosInput" class="form-label">Comentarios:</label>
            <textarea disabled id="comentariosInput" [(ngModel)]="turno.comentario" class="form-control" placeholder="Escribe tus comentarios aquí"></textarea>
          </div>
          <button class="btn btn-secondary btn-sm ms-2" (click)="ocultarFormularioDiagnostico(turno)">Cancelar</button>
        </div>

        <!-- Formulario de Historia Clínica -->
        <div *ngIf="turno.mostrarFormularioHistoriaClinica" class="mt-3 p-3 bg-light border rounded">
          <h5 class="text-secondary">Ingresar Historia Clínica</h5>
          <div class="mb-3">
            <label for="alturaInput" class="form-label">Altura (cm):</label>
            <input type="number" id="alturaInput" [(ngModel)]="turno.altura" class="form-control" placeholder="Ejemplo: 170" />
          </div>
          <div class="mb-3">
            <label for="pesoInput" class="form-label">Peso (kg):</label>
            <input type="number" id="pesoInput" [(ngModel)]="turno.peso" class="form-control" placeholder="Ejemplo: 70" />
          </div>
          <div class="mb-3">
            <label for="temperaturaInput" class="form-label">Temperatura (°C):</label>
            <input type="number" id="temperaturaInput" [(ngModel)]="turno.temperatura" class="form-control" placeholder="Ejemplo: 36.5" />
          </div>
          <div class="mb-3">
            <label for="presionInput" class="form-label">Presión Arterial:</label>
            <input type="text" id="presionInput" [(ngModel)]="turno.presion" class="form-control" placeholder="Ejemplo: 120/80" />
          </div>

          <!-- Nuevos datos dinámicos -->
          <div class="mb-3">
            <label for="presionInput" class="form-label">Nombre Dato Dinamico:</label>
            <input type="text" id="presionInput" [(ngModel)]="NombreDinamicoCuatro" class="form-control" placeholder="" />

            <input type="range" id="rangoInput" [(ngModel)]="datoDinamicoCuatro" min="0" max="100" class="form-range" />
            <div>Valor: {{ turno.rango }}</div>
          </div>

          <div class="mb-3">
            <label for="presionInput" class="form-label">Nombre Dato Dinamico:</label>
            <input type="text" id="presionInput" [(ngModel)]="NombreDinamicoCinco" class="form-control" placeholder="" />
            <input type="number" id="numeroInput" [(ngModel)]="datoDinamicoCinco" class="form-control" placeholder="Ejemplo: 25" />
          </div>

          <div class="mb-3">
            <label for="presionInput" class="form-label">Nombre Dato Dinamico:</label>
            <input type="text" id="presionInput" [(ngModel)]="NombreDinamicoSeis" class="form-control" placeholder="" />
            <div class="form-check form-switch">
              <!-- Switch con etiquetas "Sí" y "No" -->
              <input class="form-check-input" type="checkbox" id="switchInput" [(ngModel)]="turno.isCorrect">
              <label class="form-check-label" for="switchInput">{{ datoDinamicoSeis ? 'Sí' : 'No' }}</label>
            </div>
          </div>
          

          <div class="mb-3" *ngIf="!datodinamico1">
            <label for="presionInput" class="form-label">Agregar Dato Dinamico:</label>
            <button class="btn btn-secondary btn-sm ms-2" (click)="Agregardatodinamico1()">Agregar Personalizado</button>
          </div>

          <div class="mb-3" *ngIf="datodinamico1">
            <label for="presionInput" class="form-label">Nombre Dato Dinamico:</label>
            <input type="text" id="presionInput" [(ngModel)]="nombreDinamicoUno" class="form-control" placeholder="Ejemplo: 120/80" />
            <label for="presionInput" class="form-label">Dato Dinamico:</label>
            <input type="text" id="presionInput" [(ngModel)]="datoDinamicoUno" class="form-control" placeholder="Ejemplo: 120/80" />
          </div>

          <div class="mb-3" *ngIf="!datodinamico2 && datodinamico1">
            <label for="presionInput" class="form-label">Agregar Dato Dinamico:</label>
            <button class="btn btn-secondary btn-sm ms-2" (click)="Agregardatodinamico2()">Agregar Personalizado</button>
          </div>

          <div class="mb-3" *ngIf="datodinamico2">
            <label for="presionInput" class="form-label">Nombre Dato Dinamico:</label>
            <input type="text" id="presionInput" [(ngModel)]="NombreDinamicoDos" class="form-control" placeholder="Ejemplo: 120/80" />
            <label for="presionInput" class="form-label">Dato Dinamico:</label>
            <input type="text" id="presionInput" [(ngModel)]="datoDinamicoDos" class="form-control" placeholder="Ejemplo: 120/80" />
          </div>

          <div class="mb-3" *ngIf="datodinamico2 && !datodinamico3">
            <label for="presionInput" class="form-label">Agregar Dato Dinamico:</label>
            <button class="btn btn-secondary btn-sm ms-2" (click)="Agregardatodinamico3()">Agregar Personalizado</button>
          </div>

          <div class="mb-3" *ngIf="datodinamico3">
            <label for="presionInput" class="form-label">Nombre Dato Dinamico:</label>
            <input type="text" id="presionInput" [(ngModel)]="NombreDinamicoDos" class="form-control" placeholder="Ejemplo: 120/80" />
            <label for="presionInput" class="form-label">Dato Dinamico:</label>
            <input type="text" id="presionInput" [(ngModel)]="datoDinamicoDos" class="form-control" placeholder="Ejemplo: 120/80" />
          </div>



          <button class="btn btn-success btn-sm" (click)="guardarHistoriaClinica(turno, turno.paciente)">Guardar Historia Clínica</button>
          <button class="btn btn-secondary btn-sm ms-2" (click)="ocultarHistoriaClinica(turno)">Cancelar</button>

        </div>
        

      </li>
    </ul>
  </div>
</div>
