<div class="container text-center mt-5">
  <h1 class="mb-4 text-primary">Buscar Turnos</h1>

  <!-- Formulario de búsqueda -->
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="mb-3">
        <input type="text" class="form-control form-control-lg shadow-sm" placeholder="Buscar por Especialidad" />
      </div>
      <div class="mb-3">
        <input type="text" class="form-control form-control-lg shadow-sm" placeholder="Buscar por Especialista" />
      </div>
      <button class="btn btn-primary btn-lg w-100 shadow">Buscar</button>
    </div>
  </div>

  <!-- Lista de Turnos -->
  <ul class="list-group mt-4">
    <li *ngFor="let turno of nombresEspecialistasArray" class="list-group-item shadow-sm mb-3 p-4">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h4 class="text-primary mb-1">{{ turno.especialidad }}</h4>
          <p class="mb-1">
            <strong>{{ turno.paciente }}</strong> - {{ turno.horario }}
          </p>
        </div>

        <!-- Botones para Cambiar Estado -->
        <div *ngIf="turno.estado === 'pendiente'">
          <button class="btn btn-outline-success btn-sm me-2" (click)="cambiarEstado('aceptado', turno)">
            <i class="bi bi-check-circle"></i> Aceptar
          </button>
          <button class="btn btn-outline-danger btn-sm me-2" (click)="cambiarEstado('rechazado', turno)">
            <i class="bi bi-x-circle"></i> Rechazar
          </button>
        </div>

          <!-- Botones para Cambiar Estado -->
          <div *ngIf="turno.estado === 'aceptado'">
            <button class="btn btn-outline-success btn-sm me-2" (click)="cambiarEstado('finalizar', turno)">
              <i class="bi bi-check-circle"></i> Finalizar Turno
            </button>
          </div>

        <!-- Diagnóstico -->
        <button *ngIf="turno.estado === 'finalizar'" class="btn btn-primary btn-sm"
          (click)="mostrarFormularioDiagnostico(turno)">
          Diagnóstico
        </button>

        <!-- Historia Clinica -->
        <button *ngIf="turno.estado === 'diagnosticado'" class="btn btn-primary btn-sm"
          (click)="mostrarFormularioHistoriaClinica(turno)">
          Historia Clinica
        </button>


        <!-- Historia Clinica -->
        <button *ngIf="turno.estado === 'historiaClinica'" class="btn btn-primary btn-sm"
          (click)="verDiagnosticoTerminado(turno)">
          Ver reseña
        </button>
      </div>

    <!-- Formulario de Diagnóstico -->
    <div *ngIf="turno.mostrarFormularioDiagnostico" class="mt-3 p-3 bg-light border rounded">
      <h5 class="text-secondary">Ingresar Diagnóstico</h5>
      <div class="mb-3">
        <label for="diagnosticoInput" class="form-label">Diagnóstico:</label>
        <input type="text" id="diagnosticoInput" [(ngModel)]="turno.diagnostico" class="form-control"
          placeholder="Escribe el diagnóstico aquí" />
      </div>
      <div class="mb-3">
        <label for="comentariosInput" class="form-label">Comentarios:</label>
        <textarea id="comentariosInput" [(ngModel)]="turno.comentarios" class="form-control"
          placeholder="Escribe tus comentarios aquí"></textarea>
      </div>
      <button class="btn btn-success btn-sm" (click)="guardarDiagnostico(turno, turno.paciente)">
        Guardar Diagnóstico
      </button>
      <button class="btn btn-secondary btn-sm ms-2" (click)="ocultarFormularioDiagnostico(turno)">
        Cancelar
      </button>
    </div>



      <div *ngIf="turno.mostrarFormularioHistoriaClinica" class="mt-3 p-3 bg-light border rounded">
        <h5 class="text-secondary">Ingresar Historia Clínica</h5>
        <div class="mb-3">
          <label for="alturaInput" class="form-label">Altura (cm):</label>
          <input type="number" id="alturaInput" [(ngModel)]="turno.altura" class="form-control"
            placeholder="Ejemplo: 170" />
        </div>
        <div class="mb-3">
          <label for="pesoInput" class="form-label">Peso (kg):</label>
          <input type="number" id="pesoInput" [(ngModel)]="turno.peso" class="form-control" placeholder="Ejemplo: 70" />
        </div>
        <div class="mb-3">
          <label for="temperaturaInput" class="form-label">Temperatura (°C):</label>
          <input type="number" id="temperaturaInput" [(ngModel)]="turno.temperatura" class="form-control"
            placeholder="Ejemplo: 36.5" />
        </div>
        <div class="mb-3">
          <label for="presionInput" class="form-label">Presión Arterial:</label>
          <input type="text" id="presionInput" [(ngModel)]="turno.presion" class="form-control"
            placeholder="Ejemplo: 120/80" />
        </div>

        <button *ngIf="!datodinamico1" class="btn btn-secondary btn-sm ms-2" (click)="Agregardatodinamico1()">
          Agregar Dato dinamico
        </button>

        <div class="mb-3" *ngIf="datodinamico1">
          <input type="text" id="presionInput" [(ngModel)]="turno.NombredatodinamicoUno" class="form-control"
            placeholder="Nombre" />
          <input type="text" id="presionInput" [(ngModel)]="turno.datodinamicoUno" class="form-control"
            placeholder="Dato" />
        </div>

        <button *ngIf="!datodinamico2" class="btn btn-secondary btn-sm ms-2" (click)="Agregardatodinamico2()">
          Agregar Dato dinamico
        </button>

        <div class="mb-3" *ngIf="datodinamico2">
          <input type="text" id="presionInput" [(ngModel)]="turno.NombredatodinamicoDos" class="form-control"
            placeholder="Nombre" />
          <input type="text" id="presionInput" [(ngModel)]="turno.datodinamicoDos" class="form-control"
            placeholder="Dato" />
        </div>

        <br>
        <br>


        <button class="btn btn-success btn-sm" (click)="guardarHistoriaClinica(turno, turno.paciente)">
          Guardar Historia Clínica
        </button>


        <button class="btn btn-secondary btn-sm ms-2" (click)="ocultarHistoriaClinica(turno)">
          Cancelar
        </button>
      </div>


          <!-- Formulario de Diagnóstico -->
    <div *ngIf="turno.verDiagnosticoTerminado" class="mt-3 p-3 bg-light border rounded">
      <h5 class="text-secondary">Diagnóstico {{turno.paciente}}</h5>
      <div class="mb-3">
        <label for="diagnosticoInput" class="form-label">Diagnóstico:</label>
        <input type="text" disabled id="diagnosticoInput" [(ngModel)]="turno.diagnostico" class="form-control"
          placeholder="Escribe el diagnóstico aquí" />
      </div>
      <div class="mb-3">
        <label for="comentariosInput" class="form-label">Comentarios:</label>
        <textarea disabled id="comentariosInput" [(ngModel)]="turno.comentarios" class="form-control"
          placeholder="Escribe tus comentarios aquí"></textarea>
      </div>
      <button class="btn btn-secondary btn-sm ms-2" (click)="ocultarDiagnosticoTerminado(turno)">
        Cerrar
      </button>
    </div>


    </li>
  </ul>

  <!-- Mensaje de no turnos disponibles -->
  <div *ngIf="nombresEspecialistasArray.length === 0" class="alert alert-warning mt-5 shadow-sm">
    <strong>¡Atención!</strong> No tienes turnos disponibles.
  </div>
</div>