<div class="container">
    <div class="card">
      <div class="card-header">
        <h4 class="mb-0">Gestión de Usuarios</h4>
      </div>
      <div class="card-body">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Email</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let especialista of nombresFiltrados; let i = index">
              <td>{{ i + 1 }}</td> <!-- Index para el número de especialista -->
              <td>{{ especialista.nombre }}</td>
              <td>{{ especialista.email }}</td>
              <td>
                <span class="badge" [ngClass]="especialista.verificado ? 'bg-success' : 'bg-danger'">
                  {{ especialista.verificado ? 'Activo' : 'Inactivo' }}
                </span>
              </td>
              <td>
                <!-- Botones de habilitar/deshabilitar dependiendo del estado de verificación -->
                <button *ngIf="especialista.verificado" class="btn btn-warning btn-sm" (click)="modificarVerificado('deshabilitar', especialista.nombre)">Deshabilitar</button>
                <button *ngIf="!especialista.verificado" class="btn btn-success btn-sm" (click)="modificarVerificado('habilitar', especialista.nombre)" >Habilitar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  