/* Header siempre fijo y sobre el contenido */
app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Prioridad alta para que quede encima */
    background-color: #ffffff; /* Fondo blanco o cualquier color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 10px 20px; /* Espaciado interno */
  }
  
  /* Ajustar el contenido para que no se superponga */
  .contair {
    padding-top: 70px; /* Altura del header */
  }
  
  router-outlet {
    display: block;
  }
  